.popular {
  padding-top: 190px;
  padding-bottom: 206px;
}

.popular__header {
  margin-bottom: 104px;
}

.title-2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  font-family: "Poppins";
}

.popular__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
